jupyter.nohuplog

.bash_aliases
.cargo/
.condarc
.cshrc
.env
.gnupg/
.gsutil/
.lesshst
.npm/
.nvm/
.parallel/
.psql_history
.python_history
.rustup/
.selected_editor
.ssh/
.wget-hsts
__pycache__/
.bash_history
.bash_logout
.bashrc
.bashrc.backup
.boto
.cache/
.conda/
.config/
# .gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
jupyter.nohuplog
.local/
.profile

# env manager
anaconda3/
# packages
google-cloud-sdk/
bin/
boss-graphql-api/
martin
# my own data/scripts
regrid-bucket/
temp/

allocation/NAD_r8.gdb/
allocation/es2020/
allocation/nad19_full/
allocation/nad6/
allocation/processed/

demand-points/kepler/
demand-points/samples/
demand-points/safegraph/
demand-points/attom/data/
demand-points/attom/regrid-geom/
demand-points/placekeyed/
demand-points/temp/

update-regrid/data/
update-regrid/es/
update-regrid/processed-jsons/


speed/Elasticsearch/
speed/mlab_speeds/
speed/ookla_ntia/
speed/ookla_state_tiles/
speed/ookla_zips/
speed/speed_ready_upload/

martin-logs/

users-table/ogrinfo.out
users-table/data/

local/

mba/data/

demand-points/censusblocks/

demand-points/POI_202205.zip

demand-points/mo_tiger.ftr
demand-points/jun7_mo_mbtiles.csv
demand-points/jun7_mo_mbtiles.json
demand-points/tigerCB2019/
demand-points/ESrank/
demand-points/rad3_complete/

